@import "tailwindcss";

body {
  background: #ffffff;
  color: #171717;
}

@keyframes loading-bar-fill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #93c5fd;
  float: left;
  height: 0;
  pointer-events: none;
}
